/* GLOBAL */
.debug {
  background-color: rgba(85, 247, 198, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #fff;
  font-size: 53px;
  line-height: 130%;
}

h2 {
  color: #041D4D;
}

h5 {
  color: #041D4D;
}

p {
  color: #041D4D;
}

.ep-description {
  font-size: 24px;
  color: #6F7B97;
  line-height: 130%;
}

.ep-caption {
  font-size: 12px;
}

.ep-wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.ep-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.ep-pd-0 {
  padding: 0;
}

.ep-pd-50 {
  padding: 50px;
}

.ep-pd-25 {
  padding: 25px;
}

.ep-mt-20 {
  margin-top: 20px;
}
.ep-mb-20 {
  margin-bottom: 30px;
}

.ep-blue-link {
  color: #006AFF;
}

/* HEADER */
header .ep-header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #fff;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.ep-logo img {
  width: 100%;
}

header .ep-header li a {
  color: #041D4D;
}

header .ep-header li a.ep-blue-link {
  color: #006AFF;
}

.ep-menu-right ul li button.ep-btn-sign {
  border-color: #006AFF;
}

header .ep-header .ep-menu-burger {
  margin-top: 30px;
}

header .ep-header .ep-menu-burger .ep-menu-bar {
  width: 35px; 
  height: 5px;
  margin-bottom: 5px;
  z-index: 1000;
  background-color: #2485FD;
}

/* MAIN */

/* JUMBOTRON */
main .ep-jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: 99%;
  margin-top: 80px;
}

main .ep-jumbotron .ep-description {
  color: #BBCDFF;
}

main .ep-jumbotron .ep-signup-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 10px;
}

main .ep-jumbotron .ep-signup-box h3:nth-child(2) {
  margin-top: 10px;
  color: #006AFF;
}

main .ep-jumbotron .ep-signup-box input{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}

main .ep-jumbotron .ep-signup-box .ep-btn-jumbo {
  width: 100%;
  padding: 5px;
  background-color: #006AFF;
  opacity: 0.7;
  color: #fff;
}
main .ep-jumbotron .ep-signup-box .ep-btn-google {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  background-color: #fff;
  box-shadow: 1px 1px 1px #CECECE;
}

/* CUSTOMERS */
main .ep-customers {
  background-color: #F3F5F9;
}

main .ep-customers h5 {
  text-transform: uppercase;
  color: #6F7B97;
  margin-bottom: 25px;
}

@media all and (max-width: 991px) {
  main .ep-customers .ep-customers-logo img {
    height: 140px;
    vertical-align: middle;
  }
}

/* DEPLOY */
main .ep-deploy ul li {
  padding: 10px 10px;
  border-left: 2px solid #CECECE
}

main .ep-deploy ul li a {
  color: #6F7B97;
}

main .ep-deploy .ep-wrapper-80 .ep-description {
  font-size: 14px;
}

/* DESIGN */
main .ep-design {
  background-color: #F3F5F9;
}

main .ep-design .ep-wrapper-60 {
  line-height: 360px;
}

main .ep-design i {
  font-size: 28px;
}

main .ep-design img {
  width: 100%;
  min-width: 400px;
}

/* FEATURES */
main .ep-features {
  background-color: rgb(185, 248, 248);
}

.ep-features .ep-box-debug._1 {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.ep-features .ep-box-debug {
  height: 160px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* SERVICES */
main .ep-services {
  background-image: linear-gradient(#0147C5, #03209A);
}

.ep-services .ep-box-debug._1 {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.ep-services .ep-box-debug._riga {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.ep-services .ep-box-debug {
  height: 40px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

/* DEV-TEAMS */
main .ep-dev-teams {
  background-color: rgb(185, 248, 248);
}

.ep-dev-teams .ep-box-debug {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.ep-dev-teams .ep-box-debug._2 {
  height: 450px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* START */
main .ep-start {
  background-image: linear-gradient(#0147C5, #03209A);
}

.ep-start .ep-box-debug {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: #041D4E;
}

.ep-box-debug._credits{
  height: 180px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.ep-box-debug._col-mother {
  height: 370px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.ep-box-debug._col {
  width: 100%;
  height: 370px;
  border: 1px solid black;
  margin-bottom: 20px;
}