/* GLOBAL */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FFF;
  font-size: 52px;
  line-height: 130%;
}

h2 {
  color: #041D4D;
}

h4 {
  color: #FFF;
}

h5 {
  font-weight: bold;
  color: #041D4D;
}

p {
  color: #041D4D;
}

a {
  font-weight: bold;
}

.ep-container-shark {
  margin-right: 40px;
  margin-bottom: 5px;
}

.ep-description {
  font-size: 18px;
  color: #6F7B97;
  line-height: 160%;
}

.ep-caption {
  font-size: 12px;
  font-weight: bold;
}

.ep-wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.ep-wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.ep-pd-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ep-pd-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.ep-mt-20 {
  margin-top: 20px;
}
.ep-mb-20 {
  margin-bottom: 30px;
}
.ep-mb-10 {
  margin-bottom: 10px;
}

.ep-color-blue {
  color: #006AFF;
}

@media all and (max-width: 991px) {
  main .ep-customers .ep-customers-logo img {
    height: 140px;
    vertical-align: middle;
  }

  main .ep-wrapper-60 .row .ep-box img {
    height: 30px;
    vertical-align: middle;
  }

  main .ep-design .ep-caption {
    font-size: 16px;
  }

  .ep-container-shark {
    margin-left: 40px;
  }

  footer .ep-shark .ep-shark-img,
  footer .ep-shark .ep-shark-text {
    float: left!important;
  }
}

/* BUTTONS */
.ep-menu-right ul li button.ep-btn-sign {
  border-color: #006AFF;
}

.ep-menu-right ul li button.ep-btn-sign:hover {
  background-color: #006AFF;
  border-color: #FFF;
  color: #FFF;
}

header .ep-header li a.ep-color-blue {
  color: #006AFF;
}
header .ep-header button.ep-btn-sign:hover a.ep-color-blue {
  color: #FFF;
}

main .ep-jumbotron .ep-signup-box .ep-btn-jumbo {
  width: 100%;
  padding: 5px;
  background-color: #006AFF;
  opacity: 0.7;
  color: #FFF;
}

main .ep-jumbotron .ep-signup-box a {
  color:#006AFF;
}

main .ep-jumbotron .ep-signup-box .ep-btn-jumbo:hover {
  opacity: 1;
}

main .ep-start .btn:hover {
  opacity: 0.8;
  color: #006AFF;
}

main .ep-start .btn:active {
  color: #FFF;
  background-color: #006AFF;
}

main .ep-start .btn {
  font-weight: bold;
}

/* HEADER */
header .ep-header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 80px;
  line-height: 80px;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.ep-logo img {
  width: 100%;
  min-width: 150px;
}

header .ep-header li a {
  color: #041D4D;
}

header .ep-header li a:hover {
  text-decoration: none;
  color: #006AFF;
}

header .ep-header .ep-menu-burger {
  margin-top: 30px;
}

header .ep-header .ep-menu-burger .ep-menu-bar {
  width: 35px; 
  height: 5px;
  margin-bottom: 5px;
  z-index: 1000;
  background-color: #2485FD;
}

/* MAIN */

/* JUMBOTRON */
main .ep-jumbotron {
  background-image: url(../img/bg-banner-home.jpg);
  background-size: contain;
  margin-top: 80px;
}

main .ep-jumbotron .ep-description {
  color: #BBCDFF;
}

main .ep-jumbotron .ep-signup-box {
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px 10px;
}

main .ep-jumbotron .ep-signup-box input{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #EEE;
  border-radius: 5px;
}

main .ep-jumbotron .ep-signup-box .ep-btn-google {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px 0;
  background-color: #FFF;
  box-shadow: 1px 1px 1px #CECECE;
}

main .ep-jumbotron .ep-signup-box .ep-btn-google img {
  height: 20px;
  display: inline;
}

/* CUSTOMERS */
main .ep-customers {
  background-color: #F3F5F9;
}

main .ep-customers h5 {
  text-transform: uppercase;
  color: #6F7B97;
  margin-bottom: 25px;
}

main .ep-customers a{
  color:#006AFF;
}

/* DEPLOY */
main .ep-deploy ul li {
  padding: 10px 10px;
  border-left: 2px solid #CECECE
}

main .ep-deploy ul li a {
  font-weight: 500;
  color: #6F7B97;
}

main .ep-deploy .ep-wrapper-80 .ep-description,
main .ep-features .ep-description {
  font-size: 14px;
}

/* DESIGN */
main .ep-design {
  background-color: #F3F5F9;
}

main .ep-design .ep-wrapper-60 .col-xs-1 {
  padding-top: 25%;
}

main .fas {
  font-size: 28px;
}

main .far:active {
  background-color: #006AFF;
  border-radius: 50%;
}

/* FEATURES */
main .ep-features a {
  color:#006AFF
}

/* SERVICES */
main .ep-services {
  background-image: linear-gradient(#0147C5, #03209A);
}

.row.ep-row {
  position: relative;
}

.row.ep-row:not(:last-child)::before {
  position: absolute;
  content: '';
  bottom: 0;
  height: 1px;
  width: 95%;
  background-color: #FFF;
}

main .ep-services h2,
main .ep-start h2,
main .ep-services h5 {
  color: #FFF;
}

main .ep-services p {
  color: #B8C6E8;
  font-size: 95%;
  margin: 10px 0;
}

main .ep-services a {
  color: #00D2CC;
}

/* DEV-TEAMS */
main .ep-dev-teams {
  background-color: #F3F5F9;
}

main .ep-dev-teams .ep-box {
  background-color: #FFF;
  border-radius: 5px;
  padding: 30px 0;
  max-width: 450px;
  margin: 20px auto;
}

main .ep-dev-teams .ep-box h6 {
  margin-bottom: 3px;
  font-weight: bold;
  color: #041D4D;
}

main .ep-dev-teams .ep-box a {
  font-size: 12px;
  color:#006AFF
}

main .ep-dev-teams .ep-box p.ep-description {
  font-size: 100%;
}

main .ep-dev-teams .ep-box p.ep-caption {
  font-size: 80%;
}

main .ep-dev-teams .ep-wrapper-60 .col-xs-1 {
  padding-top: 20%;
}

/* START */
main .ep-start {
  background-image: linear-gradient(#0147C5, #03209A);
}

/* FOOTER */
footer {
  background-color: #041D4E;
}

footer img.ep-ft-logo {
  width: 40px;
}

footer p.ep-description, footer i {
  color: #8B94A9;
  font-size: 14px;
  margin: 0;
}

footer p.ep-caption {
  color: #596784;
}

footer ul li {
  margin-top: 10px;
}

footer ul li a {
  color: #8B94A9;
}

footer a:hover, footer a:hover i {
  text-decoration: none;
  color:#00D2CC;
}

footer .ep-shark {
  position: fixed;
  z-index: 998;
  bottom: 20px;
  width: 100%;
  background-color: transparent;
}

footer .ep-shark .ep-shark-img {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #006AFF;
  background-image: url(../img/shark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

footer .ep-shark .ep-shark-img .ep-shark-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 22px;
  height: 22px;
  background-color: #FF0000;
  border-radius: 50%;
  border: 3px solid #FFF;
}

footer .ep-shark .ep-shark-img .ep-shark-badge p {
  color: #FFF;
  margin: -2px;
  padding: 0;
}

footer .ep-shark .ep-shark-text {
  position: relative;
  max-width: 250px;
  height: 60px;
  background-color: #FFF;
  box-shadow: 0 0 3px 1px #c7c7c7;
  padding: 10px;
  border-radius: 5px;
  color: #041D4D;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

footer .ep-shark .ep-shark-text .ep-square {
  position: absolute;
  right: -6px;
  bottom: 9px;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  box-shadow: 1px -1px 3px 0px #c7c7c7;
  transform: rotate(45deg);
}
